Source: systemd
Section: admin
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Uploaders: Michael Biebl <biebl@debian.org>, Marco d'Itri <md@linux.it>, Michael Stapelberg <stapelberg@debian.org>, Sjoerd Simons <sjoerd@debian.org>, Martin Pitt <mpitt@debian.org>
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-systemd/systemd.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-systemd/systemd.git;a=summary
X-Python-Version: >= 2.7
XS-Testsuite: autopkgtest
Homepage: http://www.freedesktop.org/wiki/Software/systemd
Build-Depends: debhelper (>= 9),
               pkg-config,
               xsltproc,
               docbook-xsl,
               docbook-xml,
               gtk-doc-tools,
               m4,
               dh-autoreconf,
               automake (>= 1.11),
               autoconf (>= 2.63),
               intltool,
               gperf,
               libcap-dev,
               libpam0g-dev,
               libaudit-dev,
               libdbus-1-dev (>= 1.3.2),
               libglib2.0-dev (>= 2.22.0),
               libcryptsetup-dev (>= 2:1.6.0),
               libselinux1-dev (>= 2.1.9),
               libacl1-dev,
               liblzma-dev,
               libgcrypt11-dev,
               libkmod-dev (>= 15),
               libblkid-dev (>= 2.20),
               libgirepository1.0-dev (>= 1.31.1),
               gobject-introspection (>= 1.31.1),
               python3-all-dev,
               python3-lxml,
               libglib2.0-doc

Package: tinysystemd
Architecture: linux-any
Section: admin
Priority: optional
Recommends: libpam-systemd,
            dbus
Suggests: systemd-ui
Pre-Depends: ${shlibs:Pre-Depends},
             ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libsystemd0 (= ${binary:Version}),
         util-linux (>= 2.19.1-2),
         mount (>= 2.21),
         initscripts (>= 2.88dsf-53.2),
         sysv-rc,
         udev (>= 208-8),
         acl,
         adduser,
         libcap2-bin
Breaks: lvm2 (<< 2.02.104-1),
        lsb-base (<< 4.1+Debian4),
        systemd-shim (<< 8-2)
Conflicts: klogd, systemd
Provides: systemd
Description: system and service manager
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.
 .
 Installing the systemd package will not switch your init system unless you
 boot with init=/bin/systemd or install systemd-sysv in addition.

Package: libsystemd0
Architecture: linux-any
Multi-Arch: same
Section: libs
Priority: optional
Pre-Depends: ${shlibs:Depends},
             ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: systemd utility library
 The libsystemd0 library provides interfaces to various systemd components.

Package: systemd-sysv
Architecture: linux-any
Section: admin
Priority: extra
Conflicts: sysvinit-core,
           upstart
Replaces: sysvinit (<< 2.88dsf-44~),
          sysvinit-core,
          upstart
Pre-Depends: systemd
Depends: ${shlibs:Depends},
         ${misc:Depends},
         tinysystemd (= ${binary:Version})
Description: system and service manager - SysV links
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.
 .
 This package provides the manual pages and links needed for systemd
 to replace sysvinit. Installing systemd-sysv will overwrite /sbin/init with a
 link to systemd.

Package: tinysystemd-utils
Architecture: linux-any
Section: admin
Priority: extra
Pre-Depends: systemd
Depends: ${shlibs:Depends},
         ${misc:Depends},
         tinysystemd (= ${binary:Version})
Description: system and service manager - additional tools
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.
 .
 This package provides additional tools, such as sd-analyze, cgls, cgtop, etc.

Package: tinysystemd-compat
Architecture: linux-any
Section: admin
Priority: extra
Pre-Depends: systemd
Depends: ${shlibs:Depends},
         ${misc:Depends},
         tinysystemd (= ${binary:Version})
Description: system and service manager - additional tools
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.
 .
 This package provides compatibility links for tinysystemd package
